#msgside {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: scroll;
}
.Chatroom-chats{
  margin-bottom: 0.3rem;
}
#inpbox {
  width: 84vw;

  border-radius: 1rem;
  border-style: solid;
  /* border-width: 2px; */
  padding: 5px;
}
.chatdiv {
  
  align-items: center;
  padding-bottom: 2rem;
}
#senddiv {
  bottom: 1rem;
}
.sendbtn{
  margin-left: 0.3rem;
  font-size: 1.5rem;
  
}
.Scrolltop-Username{
  color: blue;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 0.9rem;
}
.ScrollTop-header-roomno{
  margin-left: 0.5rem !important
}
@media (max-width: 576px) {
  #senddiv {
    position: fixed;
    width: 90%;
  }
 
}
@media (max-width:805px) and (min-width:599px){
  
  .sendbtn{
    font-size: 2.5rem
  }
  .Mobchatroom-msgs{
    font-size: 1.5rem;
  }
  .Chatroom-chats{
    font-size: 1.5rem ;
  }
  .ScrollTop-header-roomno{
    font-size: 2rem !important;
  }
  .chatdiv{
    margin-top: 2.5rem;
    padding-bottom: 3.5rem;
  }
  #inpbox{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem
  }
}
