#leftend {
  border: 1px solid darkgrey;
}
#icon {
  height: 2rem;
}
#roomnames {
 padding-top: 0.5rem;
  display: "flex";
  border-bottom: 0.1px solid;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#roomnames:hover {
  background-color: #9e9898;
}
#right {
  padding-left: 0px !important;
}
.plusbuttonmain {
  color: green;

  /* size: 3rem; */
  font-size: 2.5rem !important;
}
.dummyimg {
  height: 3rem;
  border-radius: 100%;
  margin-top: 0.5rem;
}
.dummyimgtxt {
  padding-left: 1rem;
  margin-bottom: 0;
}
.ChatLanding-popicon {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}
