#leftend {
  border: 1px solid darkgrey;
}
#icon {
  height: 2rem;
}
#roomnames {
  padding-top: 0.5rem;
  display: "flex";
 /* border-bottom: 0.1px solid;*/
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#roomnames:hover {
  background-color: #9e9898;
}
#right {
  padding-left: 0px !important;
}
.plusbuttonmain {
  color: green;

  /* size: 3rem; */
  font-size: 2.5rem !important;
}
.dummyimg {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
 /* margin-top: 0.5rem;*/
}
.dummyimgtxt {
  padding-left: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 500;
}
.ChatLanding-popicon {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}
.ChatLanding-mutedtxt{
  padding-left: 1rem;
}

.custom-file-input {
  color: transparent;
  width: 6rem;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Upload dp';
  color: black;
  display: inline-block;
  
  
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
 
  cursor: pointer;
  text-shadow: 1px 1px #fff;
 
}
.dp{
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}


@media (max-width:805px) and (min-width:599px){
.dummyimg{
  height: 4rem;
  width: 4rem;
}

 
}

@media (max-width:400px){
  .ChatLanding-mutedtxt{
   font-size: 1rem;
  }
  
}
@media (max-width: 805px) and (min-width: 599px) {
 .dummyimgtxt {
    font-size: 1.6rem;
  }
  .ChatLanding-mutedtxt{
    font-size: 1.5rem;
  }
 
}
